*,
*::before,
*::after {
  box-sizing: border-box;
}

$fontPage: "Bebas Neue", cursive;
$fontText: "Montserrat", sans-serif;
$green: #b2dd9e;
$blue: #7988be;
$darkBlue: #303853;

body {
  margin: 0;
  padding: 0;
  font-family: $fontPage;
  font-size: 1.125rem;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3.0625rem;
  line-height: 91.6%;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-family: $fontText;
  line-height: 141.6%;
}

figure,
figure p {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.5rem;
  font-family: $fontPage;
}

img {
  width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 3em 0;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 100%;
  padding: 0 1em;
}

nav {
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  padding: 2.3125em 2em 0 0;
  height: calc(100vh + 1em);
  background: #363b4e;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.open-menu,
.close-menu {
  cursor: pointer;
}

.open-menu {
  width: 32px;
}

.close-menu {
  width: 24px;
  margin-bottom: 2.375em;
}

.logo {
  display: flex;
  background: black;
  justify-content: center;
  width: 135px;
}

.logo span {
  color: #6889ff;
}

.logo p {
  font-family: $fontPage;
  font-size: 1.625rem;
  color: white;
  margin: 0;
  padding: 0.25em 0.75em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.34em 0;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $green url("../assets/streaks.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: 40% 0;
  height: calc(100vh + 1em);
  padding-top: 8em;
}

.hero::before {
  content: "";
  position: absolute;
  height: 100%;
  background: $blue;
  width: 12.5%;
  right: 0;
  top: 0;
}

.hero::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #fff;
  width: 12.5%;
  left: 0;
  top: 0;
}

.content {
  max-width: 250px;
}

.drone-container {
  position: relative;
  margin-top: 4em;
}

.drone {
  position: relative;
  z-index: 2;
  width: 250px;
}

.drone-shadow {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 1;
  opacity: 0.15;
}

.quote {
  position: relative;
  height: 100vh;
  background: $darkBlue;
  color: white;
}

.quote::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  opacity: 0.17;
}

.quote::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #fff;
  width: 12.5%;
  left: 0;
  top: 0;
}

.quote figure {
  width: 300px;
  margin: 0 auto;
  padding-left: 1em;
}

figcaption,
blockquote {
  padding: 0;
  margin: 0;
}

figcaption {
  margin-top: 2em;
  padding-left: 2em;
  font-size: 1.125rem;
  position: relative;
}

figcaption::before {
  content: "";
  height: 1px;
  width: 28px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.container-gallery {
  height: 800px;
}

.gallery {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". d b"
    "e c ."
    ". a .";
  margin-top: 2.5em;
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 117px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}
