*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

img {
  width: 100%;
}

.menu-btn {
  width: 2.5em;
  cursor: pointer;
}

.exit-btn {
  text-align: right;
}

.exit-btn img {
  width: 2em;
  margin: 2em;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.2em 0.4em;
  font-size: 1.8rem;
}

.logo span {
  color: #6889ff;
}

a {
  text-decoration: none;
}

nav ul {
  position: fixed;
  list-style-type: none;
  top: 0;
  right: 0;
  width: 66%;
  margin: 0;
  padding: 0;
  background: #363b4e;
  height: 100vh;
  z-index: 2;
  padding: 2em 0;
  transform: translateX(100%);
  transition: transform 300ms;
}

nav ul a {
  color: white;
  display: block;
  padding: 0.4em 1.5em;
  font-size: 1.5rem;
  text-align: right;
}

.hero-content {
  text-align: center;
  margin: 8em 3em 0;
  height: 75vh;
}

.hero-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 141.6%;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 92%;
}

.top-bg-container {
  position: absolute;
  height: 100vh;
  width: 90%;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 80% auto;
  z-index: -1;
}

.streaks {
  background: #b2dd9e url("../assets/streaks.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}

.bg-blue {
  background-color: #7988be;
}

.container {
  margin: 0 1em;
}

.drone-container {
  position: relative;
  margin: 5em auto;
  width: 65%;
}

.blur,
.drone {
  position: absolute;
  left: 0;
}

.blur {
  opacity: 0.3;
  top: 1em;
  animation: pulse 2000ms alternate-reverse infinite;
}

.drone {
  animation: hover 2000ms alternate-reverse infinite;
}

@keyframes hover {
  from {
    transform: translateY(-30px);
  }
}

@keyframes pulse {
  from {
    opacity: 0.1;
  }
}

// Quote Section

.quote {
  width: 90%;
  background: #303853;
  color: white;
  position: relative;
  padding: 4em 2em;
  margin-left: auto;
  height: 75vh;
}

.quote::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url('../assets/stadium.jpg');
  width: 100%;
  height: 100%;
  opacity: .17;
  background-size: cover;
  background-position: 20%;
}

blockquote {
  position: relative;
  margin: 0 0 2em 0;
  font-size: 1.5rem;
}

cite {
  position: relative;
  padding-left: 1.5em;
  font-style: normal;
}

cite::before {
  position: absolute;
  content: '';
  width: 1em;
  height: 1px;
  background: white;
  top: 50%;
  left: 0;
}

// Gallery section

.gallery {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-bottom: 2em;
}

.footage-content {
  margin-bottom: 2em;
}

.footage-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: normal;
}

.footage-content p {
  font-family: 'Montserrat', sans-serif;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
   ". a b "
   "c d ."
   ". e .";
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}

// footer 
footer {
  background: #B2DD9E;
  padding: 0 0 1em 0;
}

footer h2 {
  padding: 1em 1em 1em 10%;
  font-size: 2rem;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  margin: 0;
  font-weight: normal;
}

.cols-2 {
  width: 90%;
  margin: 2em 2em 2em 10%;
  padding-right: 2em;
  padding-bottom: 2em;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .5em;
}

input {
  width: 100%;
  border: 0;
  padding: 1em;
  margin-bottom: 2em;
}

button {
  background: black;
  border: 0;
  padding: .8em;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 1.3rem;
  cursor: pointer;
}

.contact {
  margin-top: 3em;
  width: 40%;
}

.contact p,
.contact a {
  display: block;
  padding: .5em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-radius: .2em;
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
}

.contact a {
  color: black;
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }

  .top-bg-container {
    width: 80%;
    grid-template-columns: 60% auto;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .hero-content {
    display: flex;
    text-align: left;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-text h1 {
    font-size: 5rem;
    width: 80%;
  }

  .hero-text p {
    width: 80%;
  }

  .menu-btn,
  .exit-btn {
    display: none;
  }

  nav ul {
    transform: translateX(0) !important;
    background: 0;
    position: unset;
    display: flex;
    align-items: center;
    width: unset;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  nav ul a {
    font-size: 1rem;
    padding: 0 1em;
  }

  // quote section
  .quote {
    width: 80%;
    display: grid;
    place-content: center;
  }

  blockquote, cite {
    width: 80%;
    max-width: 900px;
    justify-self: center;
  }

  blockquote {
    font-size: 2rem;
  }

  // gallery
  .gallery {
    display: flex;
    gap: 4em;
  }

  .gallery-container {
    margin-top: -5em;
    z-index: 1;
  }

  .gallery h2 {
    font-size: 4rem;
    font-weight: normal;
    line-height: 91.6%;
  }

  // footer 
  .cols-2 {
    display: flex;
    gap: 3em;
  }

  .form, .contact {
    flex-basis: 0;
    flex-grow: 1;
  }

  .contact {
    margin-top: 2em;
  }

  input {
    padding: 1.5em;
  }
}