*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.125rem;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3.0625rem;
  line-height: 91.6%;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 141.6%;
}

figure,
figure p {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

img {
  width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  width: 100%;
  padding: 0 1em;
  max-width: 1030px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
  padding: 2.3125em 2em 0 0;
  height: calc(100vh + 1em);
  background: #363b4e;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.open-menu,
.close-menu {
  cursor: pointer;
}

.open-menu {
  width: 32px;
}

.close-menu {
  width: 24px;
  margin-bottom: 2.375em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
}

.logo span {
  color: #6889ff;
}

.logo p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.625rem;
  color: white;
  margin: 0;
  padding: 0.25em 0.75em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.34em 0;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #b2dd9e url("../assets/streaks.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: 40% 0;
  height: calc(100vh + 1em);
  padding-top: 8em;
}

.hero::before {
  content: "";
  position: absolute;
  height: 100%;
  background: #7988be;
  width: 12.5%;
  right: 0;
  top: 0;
}

.hero::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #fff;
  width: 12.5%;
  left: 0;
  top: 0;
}

.content {
  position: relative;
  max-width: 250px;
}

.drone-container {
  position: relative;
  margin-top: 4em;
}

.drone {
  position: relative;
  z-index: 2;
  width: 250px;
}

.drone-shadow {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 1;
  opacity: 0.15;
}

.quote {
  position: relative;
  height: 100vh;
  background: #303853;
  color: white;
}

.quote::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  opacity: 0.17;
}

.quote::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #fff;
  width: 12.5%;
  left: 0;
  top: 0;
}

.quote figure {
  width: 300px;
  margin: 0 auto;
  padding-left: 1em;
  padding-top: 3em;
}

figcaption,
blockquote {
  padding: 0;
  margin: 0;
}

figcaption {
  margin-top: 2em;
  padding-left: 2em;
  font-size: 1.125rem;
  position: relative;
}

figcaption::before {
  content: "";
  height: 1px;
  width: 28px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.left-col {
  padding-top: 3em;
}

.container-gallery {
  height: 800px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: ". d b" "e c ." ". a .";
  margin-top: 2.5em;
}

.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 117px;
}

.a {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a;
}

.b {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.c {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.d {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d;
}

.e {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: e;
}

footer {
  background: #b2dd9e;
  padding: 0 0 1em 0;
}

.form {
  margin-top: 3em;
}

.register {
  background: #9FC88C;
  margin-right: 12.5%;
  padding-left: 12.5%;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 2.25rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.667em;
}

label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
  border: 0;
  padding: 1rem;
}

.cta {
  border: 0;
  padding: 1rem 0;
  font-size: 2.1875rem;
  font-family: inherit;
  background: black;
  color: white;
}

.contact p {
  position: relative;
}

.contact p::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  bottom: -8px;
}

@media (min-width: 600px) {
  .container {
    max-width: 1030px;
  }
}
/*# sourceMappingURL=main.css.map */